html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
}

.happy-traveler {
    margin-top: 60px;
}

h1 {
    font-size: 28px;
    font-weight: 500;
    margin: 40px auto;    
}

h2 {
    font-size: 16px;
    margin: 60px auto 15px auto;
}

p {
    font-size: 16px;
    color: #8B8B8B;
    font-weight: 300;
    max-width: 460px;
    margin: 0 auto 15px auto;
}

h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #407BFF;
    margin: 10px auto 30px auto;
}

.main-text p{
    margin-bottom: 30px;
}

.banner {
    font-size: 13px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: #407BFF1F 0 4px 6px;
    min-height: 80px;
    max-width: 460px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.baner:last-of-type {
    margin-bottom: 0;
}

.banner p{
    text-align: left;
    margin: 30px 20px 20px 10px;
}

.banner img{
    float: left;
    margin: 20px;
    width: 40px;
}

.master-banner {
    margin: 15px 20px 0 20px;
    display: inline-block;
}

.master-banner:last-of-type {
    margin-bottom: 60px;
}

.button1 {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
    height: 40px;
    padding: 10px 30px;
    background-color: #407BFF;
    border-radius: 20px;
    border: none;
    display: block;
    margin: 30px auto 10px auto;
}

.grey-button {
    background-color: #8B8B8B;
    margin: 10px auto 0 auto;
}

@media screen and (min-width: 640px) {
    h1 {
        margin: 30px auto 40px auto;
    }

    h2 {
        margin: 80px auto 15px auto;
    }
    
    p {
        max-width: 550px;
    }
    
    .banner {
        min-height: 170px;
        max-width: 230px;
        margin: 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .banner p{
        text-align: center;
        margin: 20px 15px;
    }
    
    .banner img{
        margin: 0;
        height: 40px;
        width: auto;
    }
    
    .master-banner {
        margin: 40px 0 0 0;
        display: flex;
        justify-content: center;
    }

    .master-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
    }

    .button1 {
        margin: 0 10px 0 0;
    }
    
    .grey-button {
        margin: 0 0 0 10px;
    }
}

@media screen and (min-width: 1100px) {
    
}